XIAOZHI_WEBSOCKET_TOKEN=
CHATBOT_VOICE_AUDIO_FORMAT=opus
CHATBOT_VOICE_AUDIO_SAMPLE_RATE=16000
CHATBOT_VOICE_AUDIO_CHANNELS=1
CHATBOT_VOICE_AUDIO_FRAME_DURATION=60
CHATBOT_VOICE_ASR_PROVIDER=fake
TENCENT_CLOUD_SECRET_ID=
TENCENT_CLOUD_SECRET_KEY=
TENCENT_CLOUD_ASR_ENGINE_MODEL_TYPE=16k_zh
TENCENT_CLOUD_ASR_VOICE_FORMAT=pcm
TENCENT_CLOUD_TTS_VOICE_TYPE=101001
